.introducao {
  background-color: #000000;
  box-shadow: inset 0 -7.5rem white;
  margin-bottom: 7.5rem;
}
.container-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 70rem;
  margin: 0 auto;
  align-items: end;
}
.introbox {
  margin-bottom: 12.5rem;
  margin-left: 1.75rem;
}
.introbox p {
  margin-top: 2rem;
}
@media (max-width: 75rem) {
  .introducao{
    margin-bottom: 2.5rem;
  }
  .container-intro {
    background-image: url(/img/bicicleta/nimbus1.jpg);
    }
  .container-intro img {
    display: none;
  }
  .introbox a{
    margin-top: 7.5rem;
  }
}
