@import url(/css/cores.css);
@import url(/css/tipografia.css);
@import url(/css/11_header.css);
@import url(/css/12_introducao.css);
@import url(/css/13_opcoes.css);
@import url(/css/14_tecno.css);
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p,
ul,
li,
a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
img {
  max-width: 100%;
  border-radius: 4px;
}
ul{
  list-style: none;
}
